*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* share code */

.fixed-width{
    max-width: 1170px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-grid {
    display: grid;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
/* Header section */

.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-items{
    gap: 20px;
}
.nav-logo a h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
ul.menu-items li a {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
/* Banner Section */
.banner-left {
    padding: 74px 133px 70px 0px;
    width: 582px;
    height: 270px;
}
.banner-left h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-left p {
    font-size: 1rem;
    font-weight: 300;
    color: #3A3A3A;
}

button.primary-btn {
    padding: 10px 24px;
    border-radius: 41px;
    margin: 8px;
    background-color: #E02C6D;
    border: navajowhite;
    color: #FFFFFF;
}
.banner-right{
    background-image:url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.banner-section {
    padding: 82px 0;
}

/* sponsor-section */
.sponsor-section {
    padding: 50px 0px;
}
.sonsor-item .list {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
}
.sonsor-item li{}

.sonsor-item {
    border: 0.25px solid #dddddd;
}


