*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* share code */

.fixed-width{
    max-width: 1170px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-grid {
    display: grid;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Header section */

.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-items{
    gap: 20px;
}
.nav-logo a h1 {
    font-size: 24px;
    font-weight: 700;
}
ul.menu-items li a {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}






